.DS_Store
Generatore Autobus beta 2/Generatore Autobus beta 2.csproj
ProgettoAutobus/obj/ProgettoAutobus.csproj.nuget.cache
.DS_Store
Generatore Autobus beta 2/Generatore Autobus beta 2.csproj
Generatore Autobus beta 2/VisualStudio.gitignore
Generatore Autobus beta 2/obj/Generatore Autobus beta 2.csproj.nuget.cache
Generatore Autobus beta 2/obj/Generatore Autobus beta 2.csproj.nuget.g.props
Generatore Autobus beta 2/obj/Generatore Autobus beta 2.csproj.nuget.g.targets
Generatore Autobus beta 2/obj/project.assets.json
Generatore Autobus beta 2/obj/Debug/netcoreapp2.1/Generatore Autobus beta 2.AssemblyInfo.cs
Generatore Autobus beta 2/obj/Debug/netcoreapp2.1/Generatore Autobus beta 2.csproj.CoreCompileInputs.cache
Generatore Autobus beta 2/obj/Debug/netcoreapp2.2/Generatore Autobus beta 2.csproj.CoreCompileInputs.cache
ProgettoAutobus/ProgettoAutobus.csproj
ProgettoAutobus/obj/ProgettoAutobus.csproj.nuget.g.props
ProgettoAutobus/obj/ProgettoAutobus.csproj.nuget.g.targets
ProgettoAutobus/obj/project.assets.json
ProgettoAutobus/obj/Debug/netcoreapp2.1/ProgettoAutobus.csproj.CoreCompileInputs.cache
ProgettoAutobus/obj/Debug/netcoreapp2.2/ProgettoAutobus.csproj.CoreCompileInputs.cache
